.carousel-item div {
  color: white;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.parallax {
  height: 75vh;
  margin: 20px;
  border: 8px solid black;
}

.ourStory {
  margin: 20px;
  font-size: 20px;
}
