.carousel-item div {
  color: white;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.parallax {
  height: 75vh;
  margin: 20px;
}

.ourStory {
  margin: 20px;
  font-size: 20px;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 10px 60px 25px 60px;
  padding: 20px;
  background-color: #DEB98B;
  flex-direction: column;
  float: right;
}

.menuPictures {
  margin: 10px 20px 0px 20px;
}

.my-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  flex-direction: column;
}

.menu-col {
  margin: 0px;
  padding: 10px;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.menuPictures {
  text-align: center;
}
